# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc


# Virtual environments
venv/
.env/
.venv/

# dotenv (API keys)
.env

# Chat geçmişi gibi local dosyalar
chat_history.json

# Kullanıcı yüklemeleri ve geçici dosyalar
*.pdf
*.html
*.tmp
*.log
.cache/

# Streamlit cache
.streamlit/

# VSCode & IDE config
.vscode/

# Jupyter checkpoints (ekstra)
.ipynb_checkpoints/

# Mac/Windows sistem dosyaları
.DS_Store
Thumbs.db
